input[type="number"] {
  width: 3em;
}
/*body {
background-color: #D3D3D3;
font-family: Lucida Grande
}

#filename{
background-color: #0fdd0f
}

#acArea{
background-color: #007AFF
}

#suggestions{
font-family: Helvetica
}*/


