.outer {
  width: 1500px;
  /*1500*/
  border: 0px solid #38761d;
  background-color: #000;
  margin: 0 auto;
  /* top+bottom  left+right */
}

p {
  font-style: normal;
  font-size: 80px;
  font-family: Proxima Nova,"Palatino Linotype", "Book Antiqua", Palatino, serif;
  text-align: center;
  padding-top: 63px;
  /*102 */
  padding-bottom: 230px;
  /*500 */
  margin-top: 0;
  margin-bottom: 0;
}

span.hr3 {
  color: #D8D8D8;
}

span.hr4 {
  color: #1ed761;
}

.desc3 {
/*  position: absolute;
  width: 1000px;
  height: 200px;
  left: 218px;
  top: 120px;*/

  font-family:Proxima Nova,"Palatino Linotype", "Book Antiqua", Palatino, serif;
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 35px;
  text-align: center;

  color: #D8D8D8;

  position: fixed;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

table {
  font-family: Proxima Nova,"Palatino Linotype", "Book Antiqua", Palatino, serif;
  border-collapse: collapse;
  width: 80%;
  position: fixed;
  top: 30%;
  left: 10%;
}

td, th {
  border: none;
  text-align: left;
  padding: 8px;
  color: white;
}

tr:nth-child(odd) {
  background-color: #212121;
}

.open{
    position: fixed;
    top: 75%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: #1ED761;
    border-radius: 40px;
    font-family: Proxima Nova,"Palatino Linotype", "Book Antiqua", Palatino, serif;
    color: white;
    width: 200px;
    height: 45px;
}

#frame{
    position: fixed;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}